@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.design {
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 1200px), repeating-linear-gradient(#e6daf01e, rgba(202, 173, 216, 0.034));
    background-color: rgba(147, 226, 43, 0.397);
    font-family: 'Quicksand', sans-serif;

}

.navigation {
    position: sticky;
    top: 0%;
    z-index: 999;

}

.navbar {

    background-color: rgba(253, 253, 253, 0.959);
    margin-bottom: 5vh;
}

.navbar-brand {
    font-weight: bold;
    color: rgb(121, 187, 35);
}

.nav-link {
    font-weight: bold;
}

.nav2 {
    display: flex;
    position: relative;
    left: 55vw;
    float: right;
}

@media screen and (max-width:1584px) {
    .nav2 {

        left: 45vw;

    }
}

@media screen and (max-width:1333px) {
    .nav2 {

        left: 35vw;

    }
}

@media screen and (max-width:1099px) {
    .nav2 {

        left: 29vw;

    }
}

@media screen and (max-width:780px) {
    .nav2 {
        float: none;
        left: 0vw;

    }
}



.reg {
    color: rgb(121, 187, 35);
    transition: all .2s ease-in-out;
}

.reg:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
}

.log {
    transition: all .2s ease-in-out;
    color: rgb(0, 47, 255);
}

.log:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
}



.heading,
.image {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image img {
    margin: 2vh 8% 7vh 8%;
    width: min-content;
    object-fit: contain;
    width: 70%;
}

@media screen and (max-width: 1152px) {
    .image img {
        margin: 2vh 8% 7vh 8%;
        width: min-content;
        object-fit: contain;
        width: 70%;
    }
}

.heading h1 {
    color: rgb(0, 47, 255);
    width: 70vw;
}

.contentpoints ul {
    position: relative;
    width: 70vw;
    left: 13%;
    display: flex;
    flex-direction: column;


}
@media screen and (max-width:681px) {
    .contentpoints ul {
        width: 80vw;
        left: 8%;

    }
   
}

@media screen and (max-width:452px) {
    .contentpoints ul {


        left: 6%;
    }
    
}

@media screen and (max-width:352px) {
    .contentpoints ul {


        left: 5%;
    }
}

@media screen and (max-width:180px) {
    .contentpoints ul {

        left: 1%;
    }
}




.contentpoints2 ul {
    position: relative;
    width: 80vw;
    left: 13%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:681px) {
    .contentpoints2 ul {
        left: 8%;

    }
   
}



/* .contentpoints{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 10vh;
    
} */
@media screen and (max-width:1072px) {
    .contentpoints {
        font-size: 10px;
    }
}




.contentpoints li {

    list-style: none;
    font-size: 20px;

}

/* @media screen and (max-width:) {
    .contentpoints li {

        list-style: none;
        font-size: 28px;

    }
} */

@media screen and (max-width:904px) {


    .contentpoints li {
        left: 8%;
        list-style: none;
        font-size: 18px;

    }
}


#heading1 {
    color: rgb(121, 187, 35);
}